* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

#wrapper {
  margin: 0 auto;
  width: 1000px;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

header h1 {
  margin: 10px 50px;
}

header p {
  font-size: 20px;
  margin: 10px 50px 10px auto;
}

h2 {
  border-left: 8px solid #53BF49;
  border-bottom: 2px solid #53BF49;
  padding-left: 5px;
}

section {
  margin-bottom: 50px;
}

form {
  display: flex;
}

label {
  display: none;
  font-size: 20px;
}

input {
  margin-top: 10px;
  padding: 10px;
  font-size: 24px;
}

button {
  font-size: 20px;
  margin-top: 10px;
  padding: 5px 10px;
}
